/* Black */
@font-face {
  font-family: "Unageo";
  src: url("fonts/Unageo/Unageo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Extrabold */
@font-face {
  font-family: "Unageo";
  src: url("fonts/Unageo/Unageo-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Unageo";
  src: url("/assets/fonts/Unageo/Unageo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Semibold */
@font-face {
  font-family: "Unageo";
  src: url("/assets/fonts/Unageo/Unageo-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "Unageo";
  src: url("/assets/fonts/Unageo/Unageo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "Unageo";
  src: url("/assets/fonts/Unageo/Unageo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: "Unageo";
  src: url("/assets/fonts/Unageo/Unageo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
