@import "../style/font.scss";
@import "../style/var.scss";

* {
  font-family: Unageo;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  text-decoration: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
