@import "../style/font.scss";
@import "../style/var.scss";

* {
  font-family: Unageo;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  text-decoration: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}
